	<div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Order List</h4>
                            </div>
                            <div class="content">
                                <div class="payment-list">
                                    <table>
                                        <tr>
                                            <th>No</th>
                                            <th>Date</th>
                                            <th>Payment Id</th>
                                            <th>Order Id</th>
                                            <th>Price</th>
                                            <th>Status </th>
                                            <th>Type</th>


                                            <th>Action</th>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>25/05/2019</td>
                                            <td>pay_xa1239pk</td>

                                            <td>order_xa1239pk</td>
                                            <td>100$</td>
                                            <td>Completed</td>
                                            <th>Paypal</th>

                                            <td>
                                                <a href="/admin/add-product" class="fa fa-eye" data-toggle="tooltip" title="Order Details"></a>
                                                <a href="" class="fa fa-trash" data-toggle="tooltip" title="Delete"></a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>