<div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Add Category</h4>
                            </div>
                            <div class="content">
                                <div class="payment-list">
                                    <form action="/admin/add-category" id="add_category_form" enctype="multipart/form-data" method="POST">
                                        <ul>
                                           
                                            <li>
                                                <label>Category Name</label>
                                                <input class="form-control" type="text" id="category_name" name="category_name" placeholder="Type Category Name">
                                            </li>
                                          
                                            <li>
                                                <label>Select Category image</label>
                                                <input class="form-control" type="file" id="file" name="file">
                                            </li>
                                          
                                            <li class="full"><input type="submit" value="Add"> </li>
                                        </ul>
                                    </form>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>