<div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="dashboard-boxes">
                            <ul>
                                <li>
                                    <div class="dashboard-boxes-text">
                                        <i class="pe-7s-user"></i>
                                        <span>Total Users</span>
                                        <h2>2500</h2>
                                    </div>
                                </li>
                                <li>
                                    <div class="dashboard-boxes-text">
                                        <i class="pe-7s-user"></i>
                                        <span>Total Category</span>
                                        <h2>2500</h2>
                                    </div>
                                </li>
                                <li>
                                    <div class="dashboard-boxes-text">
                                        <i class="pe-7s-user"></i>
                                        <span>Total Products</span>
                                        <h2>2500</h2>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>