	<div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">User List</h4>
                            </div>
                            <div class="content">
                                <div class="payment-list">
                                    <table>
                                        <tr>
                                            <th>No</th>
                                            <th>Date</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Action</th>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>25/05/2019</td>
                                            <td>ABC</td>
                                            <td>xyz@gmail.com</td>
                                            <td>
                                                <a href="" class="fa fa-ban" data-toggle="tooltip" title="Block"></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>25/05/2019</td>
                                            <td>XYZ</td>
                                            <td>xyz@gmail.com</td>
                                            <td>
                                                <a href="" style="color: red;" class="fa fa-ban" data-toggle="tooltip" title="Un-block"></a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>